.inputUser{
    margin-top: 3rem;
}
.inputPassword{
    margin-top: 1rem;
}
.forgotPassword{
    text-align: center;
}
.buttonSubmit{
    height: 2rem;
    @media screen and (min-width: 980px) {
        width: 80%;
        margin: 0rem auto;
    }
}
.errorsField{
    color: red;
    margin-bottom: 1rem;
}