.loginContainer{
    padding: 0 2rem;
    .brandImage{
        padding-top: 15%;
    }
    .welcomeTitle{
        text-align: center;
        font-weight: 500;
    }
    .subtitle{
        color: #898373;
        text-align: center;
    }
}