.login{
    display: flex;
    justify-content: center;
    .loginContainer{
        padding: 0 2rem;
        z-index: 2;
        .brandImage{
            padding-top: 15%;
        }
        .welcomeTitle{
            text-align: center;
            font-weight: 500;
        }
        .subtitle{
            color: #898373;
            text-align: center;
        }
        @media screen and (min-width: 769px) {
            width: 50%;
            max-height: 100vh;
            overflow: hidden;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .brandImage{
                padding-top: 8%;
                width: 20vh;
                height: 20vh;
                display: flex;
                justify-content: center;
                margin: 1rem auto;
            }
            .welcomeTitle{
                font-size: 1.5rem;
            }
        }
        @media screen and (min-width: 980px) {
            .brandImage{
                padding-top: 5%;
            }
        }
    }
    .imageBackgroundLogin{
        background-image: url("/img/imagebkg.png");
        box-sizing: border-box;
        min-height: 100vh;
        display: none;
        @media screen and (min-width: 769px) {
            display: block;
            width: 50%;
            min-width: 50%;
            height: 100vh;
            position: relative;
            & > span{
                margin-top: 10% !important;
            }
        }
    }

}